:root {/*sets gradient color for background*/
        --gradient: linear-gradient(45deg,
        #000B18,
        #00172D,
        #00264D,
        #02386E,
        #00498D,
        #00498D,
        #00498D,
        #02386E,
        #00264D,
        #00172D,
        #000B18
         )
}
* {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
}

/*styles background, makes the gradient 5000% larger,and triggers an animation that causes the background to pan across the screen, creating the illusion of colors changing*/
body {
        height: 100%;
        margin: 0;
        background-image: var(--gradient);
        background-size: 5000%;
        animation: bg-animation 20s infinite alternate;
}
#content {
        transition: opacity 10s;
        min-height: 700px;
}
/*turns background green when user clicks right answer(javascript)*/
.correct {
        background: green;
}

/*turns background red when user clicks right answer(javascript)*/
.incorrect {
        background-color: red;
}

/*animation for changing color background*/
@keyframes bg-animation {
        0% {background-position: left}
        100% {background-position: right}
}
header {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        align-items: center;
}
p {
        font-size: 25px
}
.btn {
        border: none;
        display: inline-block;
        padding: 10px 16px;
        background-color: #860d2d;
        font-size: 18px;
        font-weight: normal;
        text-align: center;
        border-radius: 6px;
        cursor: pointer;
        margin-bottom: 10px;
        width: 200px;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
}

/*change color of button when hovering*/
.btn:hover {
        background-color: #f00b48;
}

/*styling for the view high scores title in header, it's actually a button*/
#high-scores {
        text-decoration: none;
        font-size: x-large;
        color: #862a0d;
        font-weight: bold;
        text-shadow: 1px 1px rgb(160, 118, 118);
        background-color: transparent;
        border: none;
        cursor: pointer;
}
/*styling for main page*/
#landing-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 20%;
        padding-right: 20%;
        text-align: center;
}

.questionLocation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
.question{
        margin: 50px 50px 0px 50px;
        text-align: center;
}

.answer-choices {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
}
/*styling for input form to save the user initials*/
.input-content {
        color: black;
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: center;
        border-radius: 20px;
        margin-bottom: 10%;
        width: 200px
}
#highscore-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 0;
}
#highscoreDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

}
.scorelistItem {
        font-size: large;
        list-style-type: none;
        width: 100%;
        text-align: center;
        border-radius: 20px;

}
.scorelistItem:hover {
        background-color: #860d2d;
}
@media screen and (min-width: 768px){
header {
        font-size: 30px;
}
#high-scores {
        font-size: 40px;
}
#intro-title {
        font-size: 60px;
}
#quiz-instructions {
        font-size: 25px;
}
.btn {
        font-size: 25px;
}
.question {
        font-size: 30px;
        padding-left: 0px
}
li {
        font-size: 25px;
}
.input-content {
        font-size: 25px
}
.scorelistItem {
        font-size: 25px;
}
#content {
        min-height: 900px;
}
}

@media screen and (min-width: 575px) {
        header {
                font-size: 30px;
        }
        #high-scores {
                font-size: 50px;
        }
        #intro-title {
                font-size: 60px;
        }
        #quiz-instructions {
                font-size: 25px;
        }
        .btn {
                font-size: 25px;
        }
        .question {
                font-size: 30px;
                padding-left: 0px
        }
        li {
                font-size: 25px;
        }
        .input-content {
                font-size: 25px
        }
        .scorelistItem {
                font-size: 25px;
        }
        #content {
                min-height: 1200px;
        }
        .btn {
                width: 270px
        }
}